body {
 background-color: #f5cfb3;
}

.container {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.display {
 font-size: 50px;
 font-family: cursive;
 text-align: center;
}

.board {
 margin-top: 100px;
 display: grid;
 grid-template-columns: 36% 36% 36%;
 grid-template-rows: 36% 36% 36%;
 max-width: 400px;
}

.cell {
 border: 1px solid black;
 min-width: 100px;
 min-height: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 50px;
 cursor: pointer;
}

.top-cell {
 border-top-width: 5px;
}

.left-cell {
 border-left-width: 5px;
}

.bottom-cell {
 border-bottom-width: 5px;
}

.right-cell {
 border-right-width: 5px;
}

.hide {
 display: none;
}

.reset-screen {
 color: black;
 font-weight: bold;
 font-family: cursive;
 font-size: 75px;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 150px;
 text-align: center;
}

.resetBtn {
 cursor: pointer;
 background-color: coral;
 color: #02028c;
 font-weight: 900;
 height: 45px;
 width: 150px;
 padding: 10px;
 border-radius: 16px;
 border: none;
}

.resetBtn:hover {
 background-color: #02028c;
 color: coral;
 border: 1px solid purple;
}

@media screen and (max-width: 768px) {
 .reset-screen {
  margin-top: 100px;
 } 
}

@media screen and (max-width: 425px) {
 .board {
  margin-right: 20px;
 }
}

@media screen and (max-width: 375px) {
 .cell {
  min-width: 90px;
  min-height: 90px;
 }
}